<form [formGroup]="formular" class="login-container">

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControlName]="Formular.Email.NAME" >
    <mat-error *ngIf="formular.get('email')?.hasError('email') && !formular.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="formular.get('email')?.hasError('required')">
      Email is required
    </mat-error>
  </mat-form-field>

  <div class="container">
    <a routerLink="../">Zurück zur Anmeldung</a>
    <div class="spacer"></div>
    <button class="login" (click)="resetPassword()">Passwort zurücksetzen</button>
  </div>
</form>
