<div class="form-container">
  <form [formGroup]="formular" class="login-container">
    <mat-form-field class="login-input">
      <mat-label>{{Formular.Password.PLACEHOLDER}}</mat-label>
      <input
        matInput
        [type]="Formular.Password.TYPE"
        [formControlName]="Formular.Password.NAME"
        [errorStateMatcher]="matcher">
      @if (showPasswordIsRequired()) {
        <mat-error>
          Passwort ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="login-input">
      <mat-label>{{Formular.PasswordRepeat.PLACEHOLDER}}</mat-label>
      <input
        matInput
        [type]="Formular.PasswordRepeat.TYPE"
        [formControlName]="Formular.PasswordRepeat.NAME"
        [errorStateMatcher]="matcher">
      @if (showPasswordRepeatIsRequired()) {
        <mat-error>
          Passwort ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    @if (passwordsDoNotMatch()) {
      <div>Passwort stimmt nicht überein</div>
    }

    <div class="container">
      <div class="spacer"></div>
      <button class="login" (click)="changePassword()">Passwort ändern</button>
    </div>
  </form>
</div>
