<div class="container-fluid mt-5 pt-5 background-img-01">
  <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-3 counterText"><span id="verbleibendeTage">{{verbleibendeTage}}</span> Tage</div>
          <div class="col-3 counterText"><span id="verbleibendeStunden">{{verbleibendeStunden}}</span> Stunden</div>
          <div class="col-3 counterText"><span id="verbleibendeMinuten">{{verbleibendeMinuten}}</span> Min</div>
          <div class="col-3 counterText"><span id="verbleibendeSekunden">{{verbleibendeSekunden}}</span> Sek</div>
        </div>
      </div>
      <div class="col-1"></div>
  </div>
</div>
<div class="container-fluid mt-5 pt-5">
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
          <h1>Dein Inhalt hier</h1>
          <p>Hier kannst du deinen Text, deine Bilder und andere Inhalte hinzufügen.</p>
      </div>
      <div class="col-3"></div>
  </div>
</div>