<div class="container-fluid mt-5 pt-5 background-img-01">
  <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12 counterText"><span id="verbleibendeTage">Noch: {{verbleibendeTage}}</span> Tage</div>
          <!-- <div class="col-3 counterText"><span id="verbleibendeStunden">{{verbleibendeStunden}}</span> Stunden</div>
          <div class="col-3 counterText"><span id="verbleibendeMinuten">{{verbleibendeMinuten}}</span> Min</div>
          <div class="col-3 counterText"><span id="verbleibendeSekunden">{{verbleibendeSekunden}}</span> Sek</div> -->
        </div>
      </div>
      <div class="col-1"></div>
  </div>
</div>
<div class="container-fluid mt-5 py-5">
  <div class="row">
    <div class="col-1"></div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <a href="https://olympics.com/de/video/watch-making-paris-2024-medals-eiffel-tower-explained-estanguet" target="_blank">
              <h4 class="card-title text-decoration-none">Die Herstellung der Medaillen von Paris 2024</h4>
              <div class="card-text background-img-02"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
  </div>
</div>