.background-img-01
    height: 100vh
    width: 100vw
    background-image: url(/assets/bg_01.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.background-img-02
    height: 100vh
    width: 100vw
    //background-image: url(/assets/bg_01.png)
    background-image: url(https://img.olympics.com/images/image/private/t_s_w338/f_auto/primary/gpo3co3bpkqsikyznrns)
    background-position: center
    background-repeat: no-repeat
    //background-size: cover
    background-size: contain

.transparent-box
    background: rgba(255, 255, 255, 0.4)
    padding: 10px
    margin: 5%
    border: solid green

.ueberschrift-01
    color: rgb(251, 251, 0)