<main>
  <div class="toolbar" role="banner">
    <a routerLink="/">
      <img
        width="80"
        alt="Olympia Logo"
        src="../assets/olympia_logo.svg"
      />
    </a>
  
    <ul>
      <li class="menu-item">
        <a class="hover-underline-animation navigation-link" routerLink="/app/laender" ariaCurrentWhenActive="page">
          <span>Länder</span>
        </a>
      </li>
      <li class="menu-item">
        <hover-over-menu class="d-inline-block h-100">
          <div trigger class="hover-underline-animation navigation-link" routerLink="/app/ergebnisse" ariaCurrentWhenActive="page">
            <span class="navigation-link">Ergebnisse</span>
          </div>
          <div content>
            <a mat-menu-item class="navigation-link" routerLink="/app/ergebnisse/weitsprung" ariaCurrentWhenActive="page">Weitsprung</a>
            <a mat-menu-item class="navigation-link" routerLink="/app/ergebnisse/100m-lauf" ariaCurrentWhenActive="page">100m-Lauf</a>
            <a mat-menu-item class="navigation-link" routerLink="/app/ergebnisse/springreiten" ariaCurrentWhenActive="page">Springreiten</a>
            <a mat-menu-item class="navigation-link" routerLink="/app/ergebnisse/schwimmen" ariaCurrentWhenActive="page">Schwimmen</a>
          </div>
        </hover-over-menu>
      </li>
      <li class="menu-item">
        <a class="hover-underline-animation navigation-link" routerLink="/app/medaillenspiegel" ariaCurrentWhenActive="page">
          <span>Medaillenspiegel</span>
        </a>
      </li>
      <li class="menu-item" *ngIf="authService.jwtIsValidAdminToken()">
        <hover-over-menu class="d-inline-block h-100">
          <div trigger class="hover-underline-animation navigation-link" routerLink="/app/admin" ariaCurrentWhenActive="page">
            <span class="navigation-link">Admin</span>
          </div>
          <div content>
            <a mat-menu-item class="navigation-link" routerLink="/app/admin/athleten" ariaCurrentWhenActive="page">Athleten</a>
            <a mat-menu-item class="navigation-link" routerLink="/app/admin/kampfrichter" ariaCurrentWhenActive="page">Kampfrichter</a>
          </div>
        </hover-over-menu>
      </li>
    </ul>
    
    <div class="spacer"></div>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/app/login" class="login">
      Anmelden
    </a>
    <a *ngIf="authService.isLoggedIn()" class="login" (click)="authService.deleteJwtToken()">
      Abmelden
    </a>

  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer fixed-bottom">
    <span class="footer-text">BBS PROJEKT OLYMPIA</span>
    <div class="spacer"></div>
    <span class="footer-text">KAI, DENNIS, ROBERT</span>
  </footer>

</main>
