<main>
  <div class="toolbar" role="banner">
    <a routerLink="/">
      <img
        width="80"
        alt="Olympia Logo"
        src="../assets/olympia_logo.svg"
      />
    </a>
  
    <ul>
      <li class="menu-item"><a routerLink="/laender" routerLinkActive="active" ariaCurrentWhenActive="page">Länder</a></li>
      <li class="menu-item"><a routerLink="/ergebnisse" routerLinkActive="active" ariaCurrentWhenActive="page">Ergebnisse</a></li>
      <li class="menu-item"><a routerLink="/medaillenspiegel" routerLinkActive="active" ariaCurrentWhenActive="page">Medaillenspiegel</a></li>
      <li class="menu-item"><a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a></li>
    </ul>
  
    <div class="spacer"></div>
    <a routerLink="/login" class="login">Anmelden</a>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <span class="footer-text">BBS PROJEKT OLYMPIA</span>
    <div class="spacer"></div>
    <span class="footer-text">KAI, DENNIS, ROBERT</span>
  </footer>
</main>
