<div class="form-container">
  <form [formGroup]="formular" class="login-container">
    <mat-form-field class="login-input">
      <mat-label>{{Formular.Email.PLACEHOLDER}}</mat-label>
      <input
        matInput
        [type]="Formular.Email.TYPE"
        [formControlName]="Formular.Email.NAME">
      <mat-error *ngIf="showEmailIsInvalid()">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="showEmailIsRequired()">
        Email is required
      </mat-error>
    </mat-form-field>

    <div class="container">
      <a routerLink="../">Zur Anmeldung</a>
      <div class="spacer"></div>
      <button class="login" (click)="sendPasswordChangeRequest()">Passwort zurücksetzen</button>
    </div>
  </form>
</div>
