<div class="medal-count-container">

  @if (!loadingAnimationIsActive()) {
    <div class="chart-container" style="position: relative; width: 80%">
      <canvas baseChart
        [type]="DiagramSettings.TYPE"
        [legend]="DiagramSettings.LEGEND"
        [options]="DiagramSettings.OPTIONS"
        [labels]="labels"
        [datasets]="data"
        >
      </canvas>
    </div>
  }

  @if (loadingAnimationIsActive()) {
    <div class="w-100 d-flex justify-content-center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }
</div>
