<div class="medal-count-container">
  @if (!loadingAnimationIsActive()) {
    @if (dataIsLoaded()) {
      <div class="chart-container">
        <canvas baseChart
          [type]="DiagramSettings.TYPE"
          [legend]="DiagramSettings.LEGEND"
          [options]="DiagramSettings.OPTIONS"
          [labels]="labels"
          [datasets]="data"
          >
        </canvas>
      </div>
    } @else {
      <h3 class="w-100 d-flex justify-content-center">Keine Daten vorhanden</h3>
    }
  } @else {
    <div class="w-100 d-flex justify-content-center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }
</div>
